<h2>Show User</h2>

<ul id="showBooks">
  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Password:</strong>
    <%= @user.password %>
  </li>


</ul>

<span><%= link "Edit", to: user_path(@conn, :edit, @user) %></span>
<div id="back">
  <%= link to: user_path(@conn, :index) do %>
  <div class='primary-button'>
    Regresar
  </div>
  <% end %>
</div>
