<h2>Show User</h2>

<ul id="showBooks">
  <li>
    <strong>Nombre:</strong>
    <%= @user.name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>UserType:</strong>
    <%= @user.user_type.type %>
  </li>

</ul>

<span><%= link "Edit", to: user_path(@conn, :index) %></span>
<div id="back">
  <%= link to: user_path(@conn, :index) do %>
  <% end %>
</div>
