<h2>Show User</h2>

<ul id="showBooks">

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

</ul>

<span><%= link "Edit", to: user_path(@conn, :edit, @user) %></span>
<div id="back">
  <%= link "Back", to: user_path(@conn, :index) %>
  <div class='cancel-button'>
    Regresar
  </div>
</div>
