.cms-topbar{
  background-color: var(--cms-topbar);
  height:var(--cms-topbar-height);
  &>.container{
    padding-right: 4rem;
    padding-left: 4rem;
    width:1330px;
    display: flex;
    box-sizing: border-box;
    &>.column{
      lost-column:1/2;
      display:flex;
      align-items: center;
      &>.logo{
        height:75px;
      }
      &>.logout{
        height:29px;
        cursor: pointer;
      }
    }
    &>.column-logout{
      justify-content: flex-end;
    }
  }
}
