.header{
  display:flex;
  box-sizing:border-box;
  align-items:center;
  flex-direction:column;
  &>.image-container{
    height:30vw;
    width:100%;
    background-size:cover;
    background-repeat: no-repeat;
    overflow:hidden;
  }
  &>.container{
    width:1024px;
    height:40vh;
    display: flex;
    align-items: center;
    box-sizing:border-box;
    &>.container-text{
      lost-column:1/2;
    }
  }
}
