@import './settings';
@import './topbar';
@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara:300,400,600,700|Oswald:600,700|PT+Serif|Roboto:500,700');

:root{
  --width-drawer: 360px;
  --white: #fff;
  --grey: #95989A;
  --shadow: rgba(173, 97, 28, 0.08);
  --black: #000;
  --font-menus:'Hind Vadodara', sans-serif;
}

*{
  margin:0px;
  padding:0px;
}

h6{
  font-family:var(--font-menus);
  font-size:1.2rem;
  color: var(--grey);
  font-weight:400;
}
